#topPanel {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(#000080, #000000);
}
#leftPanel {
    width: 20%;
    height: calc(100% - 100px);
    position: fixed;
    left: 0;
    top: 100px;
    background: #000000;
}
#rightPanel {
    width: 20%;
    height: calc(100% - 100px);
    position: fixed;
    right: 0;
    top: 100px;
    background: #000000;
}
#mainText {
    font-family: 'Comic Sans MS';
    font-size: 50px;
    color: #ffffff;
    vertical-align: middle;
}
#mainLogo {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.leftButton {
    width: 80%;
    margin-left: 10%;
    background: #000000;
    color: #d9d9d9;
}
.leftSubpanel {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-size: 0;
}
.leftSmallButton {
    width: 25%;
    background: #000000;
    color: #d9d9d9;
    display: inline-block;
}
#centerPanel {
    width: 60%;
    height: calc(100% - 100px);
    position: fixed;
    left: 20%;
    top: 100px;
}
#hiddenPictures {
    display: none;
}
#mainCanvas {
    width: 100%;
    height: 100%;
}
#hiddenImageDiv {
    visibility: hidden;
}